{{yield}}
<div class="form-actions">
    <button type="submit" class="{{submitButtonClass}}">{{submitText}}</button>
    {{#if cancelText}}
        <a class="{{cancelButtonClass}}" {{action "cancel"}}> {{cancelText}}</a>
    {{/if}}
</div>
